<nav class="top-bar">
	<ul class="title-area">
		<li class="name">
			<h1><a href="#">OnApp VNC</a></h1>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="right">
			<li>
				<div class="window-menu button-bar">
					<ul class="button-group radius">
						<li><button class="tiny button" ng-click="min();">&#95;</button></li>
						<li><button class="tiny button" ng-click="max();">&square;</button></li>
						<li><button class="tiny button" ng-click="close();">&times;</button></li>
					</ul>
				</div>
			</li>
		</ul>
	</section>
</nav>
